In [1]:
import pandas as pd
import os
import numpy as np
from datetime import datetime

os.chdir('C:\\Users\\gmoor\\Documents\\Applied Microeconomics\\Data')

df = pd.read_excel('Washington County Single Family Rentals for five years.xlsx', sheet_name='Washington County Single Family')

In [2]:
df

,#,ML#,St,PT,Address,Zip Code,Town,Sub Type,List Price,$,Deposit,Date Available,Beds Total,Heated SF /GBA,Sold Price,Agent Name,Office
0,1,1108505,L,RNT,3402 SW Gibson Ave,72712,Bentonville,Single Family,1895,NaN,550.0,2019-04-26,3,2000,1895.0,Debby Price,Elder Realty Group
1,1,1082952,L,RNT,803 Oakshire,72712,Bentonville,Single Family,1850,NaN,NaN,2018-07-20,3,1816,1850.0,Debby Price,Elder Realty Group
2,501,1082948,L,RNT,3400 S Picasso,72703,Bentonville,Single Family,1675,NaN,1000.0,2018-07-20,3,1900,1765.0,Debby Price,Elder Realty Group
3,1001,1142644,L,RNT,806 SW Cabriolet St,72712,Bentonville,Single Family,1595,NaN,650.0,2020-03-20,3,1500,1540.0,Debby Price,Elder Realty Group LLC
4,501,1218600,L,RNT,1257 Fox Run Ln,72727,Elkins,Single Family,1600,NaN,1600.0,2022-05-23,3,1560,1675.0,Erica Huie,Arkansas Real Estate Group Fayetteville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3482,3001,1178249,L,RNT,16565 Malico Mountain Rd,72774,West Fork,Single Family,900,NaN,NaN,2021-03-26,3,1809,900.0,Shonnie Gilbreath,McNaughton Real Estate
3483,3001,1075842,L,RNT,14186 Mineral Springs,72774,West Fork,Single Family,895,NaN,895.0,2018-03-19,3,1450,895.0,Dale Kelsey,Lindsey & Associates
3484,3001,1129830,L,RNT,16565 Malico Mountain Rd,72774,West Fork,Single Family,875,NaN,875.0,2019-10-10,3,1809,875.0,Shonnie Gilbreath,McNaughton Real Estate
3485,3001,1073662,L,RNT,95 Pleasant St,72774,West Fork,Single Family,825,NaN,825.0,2018-03-06,3,1260,850.0,Shonnie Gilbreath,McNaughton Real Estate
3486,3001,1083130,L,RNT,12795 Oak Grove Rd,72959,Winslow,Single Family,1150,NaN,1150.0,2018-06-20,4,1888,1050.0,Shonnie Gilbreath,McNaughton Real Estate

# Basic Numeric Conversions

In [3]:
def clean_price_columns(df):
    # Function to clean price values
    def clean_price(x):
        if pd.isna(x):
            return np.nan
        if isinstance(x, str):
            return float(str(x).replace('$', '').replace(',', '').strip())
        return x

    # Clean price columns
    price_columns = ['List Price', 'Deposit', 'Sold Price']
    for col in price_columns:
        df[col] = df[col].apply(clean_price)
    
    # Clean square footage
    df['Heated SF'] = df['Heated SF /GBA'].apply(lambda x: 
        float(str(x).split()[0]) if pd.notnull(x) else np.nan)
    
    return df

In [4]:
clean_price_columns(df)

,#,ML#,St,PT,Address,Zip Code,Town,Sub Type,List Price,$,Deposit,Date Available,Beds Total,Heated SF /GBA,Sold Price,Agent Name,Office,Heated SF
0,1,1108505,L,RNT,3402 SW Gibson Ave,72712,Bentonville,Single Family,1895,NaN,550.0,2019-04-26,3,2000,1895.0,Debby Price,Elder Realty Group,2000.0
1,1,1082952,L,RNT,803 Oakshire,72712,Bentonville,Single Family,1850,NaN,NaN,2018-07-20,3,1816,1850.0,Debby Price,Elder Realty Group,1816.0
2,501,1082948,L,RNT,3400 S Picasso,72703,Bentonville,Single Family,1675,NaN,1000.0,2018-07-20,3,1900,1765.0,Debby Price,Elder Realty Group,1900.0
3,1001,1142644,L,RNT,806 SW Cabriolet St,72712,Bentonville,Single Family,1595,NaN,650.0,2020-03-20,3,1500,1540.0,Debby Price,Elder Realty Group LLC,1500.0
4,501,1218600,L,RNT,1257 Fox Run Ln,72727,Elkins,Single Family,1600,NaN,1600.0,2022-05-23,3,1560,1675.0,Erica Huie,Arkansas Real Estate Group Fayetteville,1560.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3482,3001,1178249,L,RNT,16565 Malico Mountain Rd,72774,West Fork,Single Family,900,NaN,NaN,2021-03-26,3,1809,900.0,Shonnie Gilbreath,McNaughton Real Estate,1809.0
3483,3001,1075842,L,RNT,14186 Mineral Springs,72774,West Fork,Single Family,895,NaN,895.0,2018-03-19,3,1450,895.0,Dale Kelsey,Lindsey & Associates,1450.0
3484,3001,1129830,L,RNT,16565 Malico Mountain Rd,72774,West Fork,Single Family,875,NaN,875.0,2019-10-10,3,1809,875.0,Shonnie Gilbreath,McNaughton Real Estate,1809.0
3485,3001,1073662,L,RNT,95 Pleasant St,72774,West Fork,Single Family,825,NaN,825.0,2018-03-06,3,1260,850.0,Shonnie Gilbreath,McNaughton Real Estate,1260.0
3486,3001,1083130,L,RNT,12795 Oak Grove Rd,72959,Winslow,Single Family,1150,NaN,1150.0,2018-06-20,4,1888,1050.0,Shonnie Gilbreath,McNaughton Real Estate,1888.0

# Date Standardization

In [5]:
def standardize_dates(df):
    # Convert date to datetime
    df['Date Available'] = pd.to_datetime(df['Date Available'])

    # Create temporal features
    df['Year'] = df['Date Available'].dt.year
    df['Month'] = df['Date Available'].dt.month
    df['Day of Week'] = df['Date Available'].dt.dayofweek

    # Create season (1:Winter, 2:Spring, 3:Summer, 4:Fall)
    df['Season'] = df['Month'].apply(lambda x:
        1 if x in [12, 1, 2] else 2 if x in [3,4,5] else
        3 if x in [6,7,8] else 4)

    return df

In [6]:
standardize_dates(df)

df[['Date Available', 'Year', 'Month', 'Day of Week', 'Season']]

     Date Available  Year  Month  Day of Week  Season
0        2019-04-26  2019      4            4       2
1        2018-07-20  2018      7            4       3
2        2018-07-20  2018      7            4       3
3        2020-03-20  2020      3            4       2
4        2022-05-23  2022      5            0       2
...             ...   ...    ...          ...     ...
3482     2021-03-26  2021      3            4       2
3483     2018-03-19  2018      3            0       2
3484     2019-10-10  2019     10            3       4
3485     2018-03-06  2018      3            1       2
3486     2018-06-20  2018      6            2       3

[3487 rows x 5 columns]

# Location Standardization

In [7]:
def standardize_location(df):
    # Standardize city names
    df['Town'] = df['Town'].str.strip().str.title()
    
    # Create full address field
    df['Full Address'] = df['Address'] + ', ' + df['Town'] + ', AR ' + df['Zip Code '].astype(str)
    
    return df

In [8]:
standardize_location(df)

df[['Town', 'Address', 'Zip Code ', 'Full Address']]

,Town,Address,Zip Code,Full Address
0,Bentonville,3402 SW Gibson Ave,72712,"3402 SW Gibson Ave , Bentonville, AR 72712"
1,Bentonville,803 Oakshire,72712,"803 Oakshire , Bentonville, AR 72712"
2,Bentonville,3400 S Picasso,72703,"3400 S Picasso , Bentonville, AR 72703"
3,Bentonville,806 SW Cabriolet St,72712,"806 SW Cabriolet St , Bentonville, AR 72712"
4,Elkins,1257 Fox Run Ln,72727,"1257 Fox Run Ln , Elkins, AR 72727"
...,...,...,...,...
3482,West Fork,16565 Malico Mountain Rd,72774,"16565 Malico Mountain Rd , West Fork, AR 72774"
3483,West Fork,14186 Mineral Springs,72774,"14186 Mineral Springs , West Fork, AR 72774"
3484,West Fork,16565 Malico Mountain Rd,72774,"16565 Malico Mountain Rd , West Fork, AR 72774"
3485,West Fork,95 Pleasant St,72774,"95 Pleasant St , West Fork, AR 72774"
3486,Winslow,12795 Oak Grove Rd,72959,"12795 Oak Grove Rd , Winslow, AR 72959"

# Handle Missing Values

In [9]:
df.isnull().sum().to_dict()

{'#': 0,
 'ML#': 0,
 'St': 0,
 'PT': 0,
 'Address': 0,
 'Zip Code ': 0,
 'Town': 0,
 'Sub Type': 0,
 'List Price': 0,
 '$': 3468,
 'Deposit': 355,
 'Date Available': 0,
 'Beds Total': 0,
 'Heated SF /GBA': 0,
 'Sold Price': 67,
 'Agent Name': 0,
 'Office': 0,
 'Heated SF': 0,
 'Year': 0,
 'Month': 0,
 'Day of Week': 0,
 'Season': 0,
 'Full Address': 0}

In [10]:
# Dropping missing values 
df = df.dropna(subset=['Deposit', 'Sold Price'])
# Create a copy of the dataframe to avoid SettingWithCopyWarning
df = df.copy()

# Feature Engineering

In [11]:
def create_features(df):
    # Price per square foot
    df['Price_Per_SF'] = df['List Price'] / df['Heated SF']
    
    # Price to deposit ratio where deposit exists
    df['Price_to_Deposit_Ratio'] = df['List Price'] / df['Deposit']
    
    # List vs Sold price difference
    df['Price_Difference'] = df['Sold Price'] - df['List Price']
    
    # Market timing (days from beginning of month)
    df['Days_From_Month_Start'] = df['Date Available'].dt.day
    
    return df

In [21]:
create_features(df)

df[['List Price', 'Sold Price', 'Deposit', 'Date Available', 'Price_Per_SF', 'Price_to_Deposit_Ratio', 'Price_Difference', 'Days_From_Month_Start']]

,List Price,Sold Price,Deposit,Date Available,Price_Per_SF,Price_to_Deposit_Ratio,Price_Difference,Days_From_Month_Start
0,1895,1895.0,550.0,2019-04-26,0.947500,3.445455,0.0,26
2,1675,1765.0,1000.0,2018-07-20,0.881579,1.675000,90.0,20
3,1595,1540.0,650.0,2020-03-20,1.063333,2.453846,-55.0,20
4,1600,1675.0,1600.0,2022-05-23,1.025641,1.000000,75.0,23
5,1650,1625.0,1650.0,2023-01-06,1.057692,1.000000,-25.0,6
...,...,...,...,...,...,...,...,...
3481,950,950.0,895.0,2018-08-01,0.527778,1.061453,0.0,1
3483,895,895.0,895.0,2018-03-19,0.617241,1.000000,0.0,19
3484,875,875.0,875.0,2019-10-10,0.483693,1.000000,0.0,10
3485,825,850.0,825.0,2018-03-06,0.654762,1.000000,25.0,6
3486,1150,1050.0,1150.0,2018-06-20,0.609110,1.000000,-100.0,20

# Identify Duplicates

In [ ]:
def handle_duplicates(df):
    # Create a property identifier
    df['Property_ID'] = df.groupby(['Address', 'Town', 'Heated SF', 'Beds Total']).ngroup()
    
    # Flag duplicates
    df['Is_Duplicate'] = df.duplicated(['Address', 'Town', 'Heated SF', 'Beds Total'], keep='first')
    
    return df

In [14]:
handle_duplicates(df)

,#,ML#,St,PT,Address,Zip Code,Town,Sub Type,List Price,$,...,Month,Day of Week,Season,Full Address,Price_Per_SF,Price_to_Deposit_Ratio,Price_Difference,Days_From_Month_Start,Property_ID,Is_Duplicate
0,1,1108505,L,RNT,3402 SW Gibson Ave,72712,Bentonville,Single Family,1895,NaN,...,4,4,2,"3402 SW Gibson Ave , Bentonville, AR 72712",0.947500,3.445455,0.0,26,1213,False
2,501,1082948,L,RNT,3400 S Picasso,72703,Bentonville,Single Family,1675,NaN,...,7,4,3,"3400 S Picasso , Bentonville, AR 72703",0.881579,1.675000,90.0,20,1210,False
3,1001,1142644,L,RNT,806 SW Cabriolet St,72712,Bentonville,Single Family,1595,NaN,...,3,4,2,"806 SW Cabriolet St , Bentonville, AR 72712",1.063333,2.453846,-55.0,20,2102,False
4,501,1218600,L,RNT,1257 Fox Run Ln,72727,Elkins,Single Family,1600,NaN,...,5,0,2,"1257 Fox Run Ln , Elkins, AR 72727",1.025641,1.000000,75.0,23,155,False
5,501,1235185,L,RNT,1257 Fox Run Ln,72727,Elkins,Single Family,1650,NaN,...,1,4,1,"1257 Fox Run Ln , Elkins, AR 72727",1.057692,1.000000,-25.0,6,155,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3481,3001,1086189,L,RNT,14186 Mineral Springs,72774,West Fork,Single Family,950,NaN,...,8,2,3,"14186 Mineral Springs , West Fork, AR 72774",0.527778,1.061453,0.0,1,273,False
3483,3001,1075842,L,RNT,14186 Mineral Springs,72774,West Fork,Single Family,895,NaN,...,3,0,2,"14186 Mineral Springs , West Fork, AR 72774",0.617241,1.000000,0.0,19,272,False
3484,3001,1129830,L,RNT,16565 Malico Mountain Rd,72774,West Fork,Single Family,875,NaN,...,10,3,4,"16565 Malico Mountain Rd , West Fork, AR 72774",0.483693,1.000000,0.0,10,402,False
3485,3001,1073662,L,RNT,95 Pleasant St,72774,West Fork,Single Family,825,NaN,...,3,1,2,"95 Pleasant St , West Fork, AR 72774",0.654762,1.000000,25.0,6,2164,False
3486,3001,1083130,L,RNT,12795 Oak Grove Rd,72959,Winslow,Single Family,1150,NaN,...,6,2,3,"12795 Oak Grove Rd , Winslow, AR 72959",0.609110,1.000000,-100.0,20,167,False

# Quality Control Checks

In [15]:
def quality_control(df):
    # Create reasonable bounds for numeric fields
    df['Price_Error'] = (df['List Price'] < 100) | (df['List Price'] > 10000)
    df['SF_Error'] = (df['Heated SF'] < 500) | (df['Heated SF'] > 10000)
    df['Beds_Error'] = (df['Beds Total'] < 1) | (df['Beds Total'] > 10)
    
    return df

In [16]:
quality_control(df)

df[['List Price', 'Heated SF', 'Beds Total', 'Price_Error', 'SF_Error', 'Beds_Error']]

      List Price  Heated SF  Beds Total  Price_Error  SF_Error  Beds_Error
0           1895     2000.0           3        False     False       False
2           1675     1900.0           3        False     False       False
3           1595     1500.0           3        False     False       False
4           1600     1560.0           3        False     False       False
5           1650     1560.0           3        False     False       False
...          ...        ...         ...          ...       ...         ...
3481         950     1800.0           3        False     False       False
3483         895     1450.0           3        False     False       False
3484         875     1809.0           3        False     False       False
3485         825     1260.0           3        False     False       False
3486        1150     1888.0           4        False     False       False

[3069 rows x 6 columns]

# Create final summary

In [17]:
def create_cleaning_summary(df):
    summary = {
        'Total Records': len(df),
        'Duplicate Records': df['Is_Duplicate'].sum(),
        'Missing Values': df.isnull().sum().to_dict(),
        'Errors Flags': {
            'Price Errors': df['Price_Error'].sum(),
            'Square Footage Errors': df['SF_Error'].sum(),
            'Bedroom Errors': df['Beds_Error'].sum()
        },
        'Data Range': {
            'Start': df['Date Available'].min(),
            'End': df['Date Available'].max()
        }  
    }
    return summary

In [18]:
create_cleaning_summary(df)

{'Total Records': 3069,
 'Duplicate Records': np.int64(880),
 'Missing Values': {'#': 0,
  'ML#': 0,
  'St': 0,
  'PT': 0,
  'Address': 0,
  'Zip Code ': 0,
  'Town': 0,
  'Sub Type': 0,
  'List Price': 0,
  '$': 3067,
  'Deposit': 0,
  'Date Available': 0,
  'Beds Total': 0,
  'Heated SF /GBA': 0,
  'Sold Price': 0,
  'Agent Name': 0,
  'Office': 0,
  'Heated SF': 0,
  'Year': 0,
  'Month': 0,
  'Day of Week': 0,
  'Season': 0,
  'Full Address': 0,
  'Price_Per_SF': 0,
  'Price_to_Deposit_Ratio': 0,
  'Price_Difference': 0,
  'Days_From_Month_Start': 0,
  'Property_ID': 0,
  'Is_Duplicate': 0,
  'Price_Error': 0,
  'SF_Error': 0,
  'Beds_Error': 0},
 'Errors Flags': {'Price Errors': np.int64(0),
  'Square Footage Errors': np.int64(0),
  'Bedroom Errors': np.int64(0)},
 'Data Range': {'Start': Timestamp('2017-07-10 00:00:00'),
  'End': Timestamp('2024-01-01 00:00:00')}}

In [19]:
print(df.describe())

                 #           ML#     Zip Code    List Price      Deposit  \
count  3069.000000  3.069000e+03   3069.000000  3069.000000   3069.00000
mean   1501.325839  1.153429e+06  72717.530140  1458.502118   1428.12219
min       1.000000  1.042312e+06  72701.000000   550.000000      0.00000
25%     501.000000  1.110990e+06  72703.000000  1200.000000   1150.00000
50%    1501.000000  1.150159e+06  72704.000000  1400.000000   1375.00000
75%    2501.000000  1.199325e+06  72730.000000  1645.000000   1600.00000
max    3001.000000  1.236270e+06  72959.000000  5100.000000  18001.00000
std     981.577316  4.992937e+04     24.988397   416.169091    618.82319

                      Date Available   Beds Total  Heated SF /GBA  \
count                           3069  3069.000000     3069.000000
mean   2020-07-17 04:06:48.211143680     3.092212     1601.716520
min              2017-07-10 00:00:00     1.000000      500.000000
25%              2019-05-15 00:00:00     3.000000     1324.000000
50%              2020-07-03 00:00:00     3.000000     1524.000000
75%              2021-10-11 00:00:00     3.000000     1794.000000
max              2024-01-01 00:00:00     6.000000     7200.000000
std                              NaN     0.563128      512.131453

         Sold Price    Heated SF         Year        Month  Day of Week  \
count   3069.000000  3069.000000  3069.000000  3069.000000  3069.000000
mean    1461.973607  1601.716520  2020.042685     6.657543     2.508635
min      550.000000   500.000000  2017.000000     1.000000     0.000000
25%     1200.000000  1324.000000  2019.000000     4.000000     1.000000
50%     1400.000000  1524.000000  2020.000000     7.000000     3.000000
75%     1650.000000  1794.000000  2021.000000     9.000000     4.000000
max    18800.000000  7200.000000  2024.000000    12.000000     6.000000
std      519.277425   512.131453     1.453697     3.157898     1.781864

            Season  Price_Per_SF  Price_to_Deposit_Ratio  Price_Difference  \
count  3069.000000   3069.000000             3069.000000       3069.000000
mean      2.568915      0.936095                     inf          3.471489
min       1.000000      0.275891                0.097217      -1000.000000
25%       2.000000      0.801688                1.000000          0.000000
50%       3.000000      0.920543                1.000000          0.000000
75%       3.000000      1.057126                1.023810          0.000000
max       4.000000      2.507523                     inf      17000.000000
std       1.024898      0.191934                     NaN        311.846561

       Days_From_Month_Start  Property_ID
count            3069.000000  3069.000000
mean               11.812968  1092.579668
min                 1.000000     0.000000
25%                 1.000000   551.000000
50%                10.000000  1083.000000
75%                20.000000  1639.000000
max                31.000000  2188.000000
std                 9.479798   630.771148

c:\Users\gmoor\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

In [20]:
df

,#,ML#,St,PT,Address,Zip Code,Town,Sub Type,List Price,$,...,Full Address,Price_Per_SF,Price_to_Deposit_Ratio,Price_Difference,Days_From_Month_Start,Property_ID,Is_Duplicate,Price_Error,SF_Error,Beds_Error
0,1,1108505,L,RNT,3402 SW Gibson Ave,72712,Bentonville,Single Family,1895,NaN,...,"3402 SW Gibson Ave , Bentonville, AR 72712",0.947500,3.445455,0.0,26,1213,False,False,False,False
2,501,1082948,L,RNT,3400 S Picasso,72703,Bentonville,Single Family,1675,NaN,...,"3400 S Picasso , Bentonville, AR 72703",0.881579,1.675000,90.0,20,1210,False,False,False,False
3,1001,1142644,L,RNT,806 SW Cabriolet St,72712,Bentonville,Single Family,1595,NaN,...,"806 SW Cabriolet St , Bentonville, AR 72712",1.063333,2.453846,-55.0,20,2102,False,False,False,False
4,501,1218600,L,RNT,1257 Fox Run Ln,72727,Elkins,Single Family,1600,NaN,...,"1257 Fox Run Ln , Elkins, AR 72727",1.025641,1.000000,75.0,23,155,False,False,False,False
5,501,1235185,L,RNT,1257 Fox Run Ln,72727,Elkins,Single Family,1650,NaN,...,"1257 Fox Run Ln , Elkins, AR 72727",1.057692,1.000000,-25.0,6,155,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3481,3001,1086189,L,RNT,14186 Mineral Springs,72774,West Fork,Single Family,950,NaN,...,"14186 Mineral Springs , West Fork, AR 72774",0.527778,1.061453,0.0,1,273,False,False,False,False
3483,3001,1075842,L,RNT,14186 Mineral Springs,72774,West Fork,Single Family,895,NaN,...,"14186 Mineral Springs , West Fork, AR 72774",0.617241,1.000000,0.0,19,272,False,False,False,False
3484,3001,1129830,L,RNT,16565 Malico Mountain Rd,72774,West Fork,Single Family,875,NaN,...,"16565 Malico Mountain Rd , West Fork, AR 72774",0.483693,1.000000,0.0,10,402,False,False,False,False
3485,3001,1073662,L,RNT,95 Pleasant St,72774,West Fork,Single Family,825,NaN,...,"95 Pleasant St , West Fork, AR 72774",0.654762,1.000000,25.0,6,2164,False,False,False,False
3486,3001,1083130,L,RNT,12795 Oak Grove Rd,72959,Winslow,Single Family,1150,NaN,...,"12795 Oak Grove Rd , Winslow, AR 72959",0.609110,1.000000,-100.0,20,167,False,False,False,False